@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Noto Sans Thai", system-ui, sans-serif;
}

body {
  margin: 0;
  background: #f4f6fb;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
